---
import BaseLayout from "../layouts/BaseLayout.astro";
import Greetings from "../components/Greeting";
const pageTitle = "Página de inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mi impresionante subtítulo del blog israelfl</h2>
  <Greetings client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
