---
import Navigation from "./Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
  <nav id="navbar_top" class="navbar bg navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/img/header_logo_sun.png" width="40" class="sun" />
        <img src="/img/header_logo_moon.png" width="40" class="moon" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <Navigation />
        </ul>
        <div class="flex">
          <ThemeIcon />
        </div>
      </div>
    </div>
  </nav>
</header>

<style>
  nav.fixed-top {
    top: -40px;
    transform: translateY(40px);
    transition: transform 0.3s;
  }
  img.moon {
    display: none;
  }
  :global(.dark) .sun {
    display: none;
  }
  :global(.dark) .moon {
    display: block;
  }
</style>

<script is:inline>
  document.addEventListener("DOMContentLoaded", function () {
    window.addEventListener("scroll", function () {
      if (window.scrollY > 100) {
        document.getElementById("navbar_top").classList.add("fixed-top");
        // add padding top to show content behind navbar
        navbar_height = document.querySelector(".navbar").offsetHeight;
        document.body.style.paddingTop = navbar_height + "px";
      } else {
        document.getElementById("navbar_top").classList.remove("fixed-top");
        // remove padding top from body
        document.body.style.paddingTop = "0";
      }
    });
  });
  // DOMContentLoaded  end
</script>
