---
const currentPath = Astro.url.pathname;
---

<li class="nav-item">
  <a class={`nav-link${currentPath === '/' ? ' active' : ''}`} href="/">Inicio</a>
</li>
<li class="nav-item">
  <a class={`nav-link${currentPath === '/about' ? ' active' : ''}`} href="/about">Sobre mi</a>
</li>
<li class="nav-item">
  <a class={`nav-link${currentPath === '/blog' ? ' active' : ''}`} href="/blog">Blog</a>
</li>
<li class="nav-item">
  <a class={`nav-link${currentPath === '/tags' ? ' active' : ''}`} href="/tags">Etiquetas</a>
</li>
