---
const { platform, username, icon } = Astro.props;
---

<li class="ms-3">
  <a
    class="text-body-secondary"
    href={`https://www.${platform}.com/${username}`}
    target="_blank"
  >
    <i class={`bi bi-${icon} border rounded p-2`}></i>
  </a>
</li>
